<!DOCTYPE html>
<html>
    <head>
        <title>Conferência Alive</title>
        <meta charset="UTF-8"/>
        
        <link rel="shortcut icon" href="../src/icon/ALIVE.ico" />
        
        <script src="https://kit.fontawesome.com/dc0824ecd1.js" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
        
        <link href="../public/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .page button{
                margin-bottom:20px;
            }
            .page button a{
                color:#333;
            }
            .page button:hover a{
                color:#fff;
            }
            .socialNetworks{
                margin:0 0 !important;
                margin-bottom:20px !important;
            }
        </style>
        <header id="pageHome">
            <header id="header">
                <div class="image">
                        <img src="../src/img/IMAGE.jpg" />
                </div>
                <div class="logo">
                        <img src="../src/logo/ALIVE.png" />
                </div>
                <div class="title">
                    <h1>Conferência Alive</h1>
                    <h2>Dons & Reino</h2>
                </div>
                <div class="buttons">
                    <button>Inscreva-se</button>
                </div>
            </header>
        </header>